/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "62DRAGZ";

  src: url("./fonts/62DRAGZ.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}